@model AppMyRPG.Models.UserInfo
@{
    ViewBag.Title = "重设密码";
    Layout = "~/Views/Shared/_HolderLayout.cshtml";
}
@using (Html.BeginForm("NewPassword", "Email", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.UserUID)
    <div class="user-loginHolder">
        <div class="user-form-group">
            密&emsp;码&emsp;@Html.PasswordFor(m => m.UserPWD, new { @class = "user-textbox engNum", placeholder = "输入密码",maxlength=18 })
            @Html.ValidationMessageFor(m => m.UserPWD, "", new { @class = "text-danger" })
        </div>
        <div class="user-form-group">
            验&emsp;证&emsp;<input type="password" class="user-textbox" name="pwd" placeholder="再次输入密码" maxlength="18"/>
        </div>
        <div class="user-form-group">
            @Html.Submit("发送", "user-btn new-btn")
        </div>
    </div>
}